<%- include('../partials/head') %>
<body>
  <div class="container-fluidtext-center">
  <%- include('../partials/header') %>
  </div>
  
  <div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>File upload</h1>
  </div>

  <div class="container mt-5">
    <div class="d-flex justify-content-center">
      <div class="col-sm-6">
        <% if (errors?.message) { %>
          <small class="pt-2 pb-2 text-danger"
            ><%= errors?.message %></small
          >
          <% } %>
        <form
          action="/api/v1/upload"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group mb-3">
            <label for="location_details"
              >Location Details <font color="red">*</font></label
            >
            <input
              type="file"
              class="form-control"
              id="location_details"
              name="location_details"
              required
            />
            <% if (errors?.location_details) { %>
            <small class="pt-2 pb-2 text-danger"
              ><%= errors?.location_details %></small
            >
            <% } %>
          </div>
          <div class="form-group mb-3">
            <label for="location_employee_details"
              >Location Employee Details <font color="red">*</font></label
            >
            <input
              type="file"
              class="form-control"
              id="location_employee_details"
              name="location_employee_details"
              required
            />
            <% if (errors?.location_employee_details) { %>
            <small class="pt-2 pb-2 text-danger"
              ><%= errors?.location_employee_details %></small
            >
            <% } %>
          </div>
          <div class="form-group mb-3">
            <label for="employee_details"
              >Employee Details <font color="red">*</font></label
            >
            <input
              type="file"
              class="form-control"
              name="employee_details"
              required
            />
            <% if (errors?.employee_details) { %>
            <small class="pt-2 pb-2 text-danger"
              ><%= errors?.employee_details %></small
            >
            <% } %>
          </div>
          <div class="form-group mb-3">
            <label for="colleges_location_values"
              >Colleges Location Values <font color="red">*</font></label
            >
            <input
              type="file"
              class="form-control"
              id="colleges_location_values"
              name="colleges_location_values"
              required
            />
            <% if (errors?.colleges_location_values) { %>
            <small class="pt-2 pb-2 text-danger"
              ><%= errors?.colleges_location_values %></small
            >
            <% } %>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('../partials/footer') %>
